
body{
    background: #3A0839 !important;
}



.title{

    position: absolute;
    top: 0%;
    width: 100%;

    right: 34%;
}



.button1{
    position: absolute;
    margin-top: 15%;
    margin-left: 30%;


}

.button2{
    position: absolute;
    margin-top: 15%;
    margin-left: 45%;
    background-color: #F64040;
    color: #FFFFFF;

}

.button3{
    position: absolute;
    margin-top: 15%;
    margin-left: 60%;
    background-color: #8A2793;
    color: black;
}

.button4{
    position: absolute;
    margin-top: 25%;
    margin-left: 37.5%;
    background-color: #0077B5;
    color: #FFFFFF;
}

.button5{
    position: absolute;
    margin-top: 25%;
    margin-left: 52.5%;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;

    font-size: 34px;
    line-height: 1.33;
    border-radius: 50%;
}

.wrapper{
    height:300px;
    width:100%;
    background-color:white;
}
.article{

    float:left;
    width:33%;
    text-align:center;
    line-height:300px;
    font-size:8rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    background-repeat: no-repeat;
}


.art2{
    background-image:url("http://lorempixel.com/output/abstract-q-c-640-480-1.jpg");
    font-family: 'Droid Serif', serif;
    -webkit-animation: hiMove 4s infinite;
    transition:background 3s ease-in;

}






@-webkit-keyframes hiMove {
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: left;}
}

@keyframes hiMove {
    0% {background-position: left;}
    50% {background-position: right;}
    100% {background-position: left;}
}


@media(max-width:786px){
    .article{
        width:100%;
    }
}
